.expense-item {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #cacaca;
    align-items: center;
    padding: 10px;
    background-color: dimgrey;
    height: 80px;
    margin-bottom: 20px;
}
.date {
    width: 25%;
}
.description {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    width: 75%;
    color: #fff;
}
.price {
    width: 25%;
    border: 2px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    height: 56px;
    background-color: steelblue;
}